h3{
    font-weight: 400 !important;
    color:#2F4858;
    margin-bottom: 1em;
}

.about-top-banner{
    width: 100%;
    height: 300px;
    background-image: url(../image/pics/about/About-header-BG-Desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 100px;
}

.about-section-1{
    background-color: #f4f4f4;
    padding: 30px 50px;
}

.partnerBlock{
    background: #fdf1e7; 
    padding: 80px;
    border-radius: 6px;
}

.partnerBlock img{
    padding-right:45px;
}

.contentBox{
    padding:0 3rem !important;
}

@media screen and (max-width: 1200px) {
    .partnerBlock img{
        padding:0;
    }
}

@media screen and (max-width: 992px) {
    .partnerPhoto{
        padding:50px 180px;
    }

    .partnerBlock{
        padding: 50px;
    }
}

@media screen and (max-width: 768px) {
    .partnerPhoto{
        padding:50px 100px;
    }
    .about-top-banner{
        height: 200px;
        padding-top: 80px;
    }
}

@media screen and (max-width: 637px) {
    .container{
        padding:0 !important;
    }
}

@media screen and (max-width: 576px) {
    .partnerPhoto{
        padding:50px 80px;
    }

    .contentBox{
        padding:0 !important;
    }

    .row{
        margin:0 !important;
    }
}