.consult-top-banner {
    width: 100%;
    height: 250px;
    background-image: url(../image/pics/1-on-1/1on1-BG-Desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 100px;
}

.filter {
    padding: 3px;
    color: #F19F4D;
}

.filter:hover {
    color: #F19F4D;
    background-color: #f1f1f1;
}

.filter-active,
.filter:hover {
    color: #2b2725;
}

.consultant-card {
    width: 100%;
    height: auto;
}

.filter-tag {
    padding: 3px 12px;
    background-color: #F19F4D;
    color: #ffffff;
    border-radius: 10px;
    margin-right: 4px;
}

.filter-tag a {
    color: #fff !important;
    padding-left: 3px;
}

.mail-btn {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    color: #F19F4D;
}

.consult-filter-title {
    position: absolute;
    left: 15px;
}

.consult-filter-option {
    padding-left: 50px;
}

.consultant-card-avatar {
    position: absolute;
    width: 100px;
    left: 15px;
    top: 20px;
    height: auto;
}

.consultant-card-content {
    padding-left: 120px;
    vertical-align: top;
}

#adsDiv {
    position: absolute;
    right: 10px;
    top: 0;
}

#adsContent{
    padding-top: 15px;
    font-size: 1.2rem;
    text-align: center;
}

.join-us{
    padding-left: 25px;
}

.consult-search {
    padding-right: 55px;
    position: relative;
}

.reset-search {
    position: absolute;
    right: 0px;
    top: 0;
}

.ads-image{
    width: 100%;
    margin-bottom: -1rem;
    margin-right: -1rem;
}

.close-ads{
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 1;
    display: none;
}

@media screen and (max-width: 767px) {
    .consult-top-banner {
        height: 200px;
        padding-top: 80px;
    }

    #adsDiv {
        position: fixed;
        bottom: 0;
        left: 0;
        top: auto;
        right: 0;
        z-index: 1;
        height: 150px;
    }

    .ads-image{
        width: 30%;
        position: absolute;
        right:0;
        bottom: 0;
        z-index: -1;
    }

    #adsContent{
        padding-left: 10px;
        text-align: left;
    }

    .join-us{
        padding-left: 10px;
    }

    .close-ads{
        display: block;
    }
}

@media screen and (max-width: 470px) {

    .consultant-card-avatar {
        position: relative;
        width: 100%;
        left: 0;
        padding-bottom: 15px;
        display: block;
    }

    .consultant-card-content {
        padding-left: 0;
    }

    #adsContent{
        font-size: 1rem;
    }

    .ads-image{
        width: 40%;
    }
}