footer{
    background-color: #2F4858;
    color: #fff;
    padding:80px !important;
}

.footer-qrcodes{
    display: flex;
}

/* .footer-qrcodes img{
    width: 30%;
    padding: 10px;
} */

footer h5{
    margin-bottom: 15px;
}

footer a{
    display: block;
    text-decoration: none;
    color:white;
    padding: 5px 0;
}

footer a:hover, footer a:active{
    color: #fff !important;
}

@media (max-width: 575.98px) {
    footer{
        padding:20px !important;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    footer{
        padding:40px !important;
    }
}