.home-slider-top{
    width: 100%;
}

.carousel-inner, .carousel-item{
    max-height: 520px !important;
}

.home-programs-entrance{
    background-image: url(/suitntie/asset/image/library.jpg);
    background-size: cover;
    height: 450px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 25px 50px;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.home-programs-entrance h1{
    font-weight: 400 !important;
    margin-bottom: 30px;
}

.home-programs-entrance p{
    margin-bottom: 30px;
}

.teacher-cell{
    display: flex;
    align-items: center;
    padding: 10px;
}

.teacher-cell img{
    width: 45%;
    margin-right: 5%;
    border-radius: 25px;
}

.home-contact-form{
    padding: 50px 25px;
    background-color: #f0f0f0;
}

/* 3 steps section */

.stepsTitle h1{
    font-weight: 400 !important;
}

.threeSteps{
    margin: 50px auto !important;
    display:flex;
}

.threeSteps .card{
    border-radius: 10px !important;
    padding:30px 40px;
}

.threeSteps h3{
    font-size: 1.75em !important;
    font-weight: 500;
    margin-bottom: 20px !important;
}

.threeSteps h4{
    font-size: 1.25em !important;
    font-weight: 400;
}

.threeSteps p{
    font-weight: 100;
    margin-bottom: 30px !important;
}

@media screen and (max-width: 990px) {
    .addBtmMargin-30 {
        margin-bottom:30px;
    }
}

/* Mentor Section */
.home-one-on-one-entrance{
    background-color: #fdf1e7;
    color: #333;
    padding: 80px 40px;
    border-radius: 10px;
}

.home-one-on-one-entrance h1{
    font-weight: 400 !important;
    margin-bottom: 30px;
}

.home-one-on-one-entrance p{
    margin-bottom: 30px;
}
