.home-slider-top{
    width: 100%;
}

.home-programs-entrance{
    background-image: url(/suitntie/asset/image/library.jpg);
    background-size: cover;
    height: 450px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 25px 50px;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.home-programs-entrance h2{
    color: white !important;
}

.home-programs-entrance p{
    margin-bottom: 30px;
}

.home-contact-form{
    padding: 50px 25px;
    background-color: #f0f0f0;
}

/* 3 steps section */

.stepsTitle h1{
    font-weight: 400 !important;
}

.threeSteps{
    margin: 50px auto !important;
    display:flex;
}

.threeSteps .card{
    border-radius: 10px !important;
    padding:30px 40px;
}

.threeSteps h3{
    font-size: 1.75em !important;
    font-weight: 500;
    margin-bottom: 30px !important;
}

.threeSteps h4{
    font-size: 1.25em !important;
    font-weight: 400;
}

.threeSteps p{
    font-weight: 100;
    margin-bottom: 30px !important;
}

@media screen and (max-width: 990px) {
    .addBtmMargin-30 {
        margin-bottom:30px;
    }
}

/* Mentor Section */
.home-one-on-one-entrance{
    background-color: #fdf7f2;
    color: #333;
    padding: 80px 40px;
    border-radius: 10px;
}

.home-one-on-one-entrance h2{
    margin-bottom: 30px 0;
}

.home-one-on-one-entrance p{
    margin-bottom: 30px;
}

.instructor h2{
    margin:30px auto;
}

.teacher-cell{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 auto 30px auto;
}

.teacher-cell img{
    width: 150px;
    margin-right: 30px;
    border-radius: 10px;
}

.teacher-cell h5{
    font-size: 1.25em !important;
    font-weight: 600;
    margin-bottom: 15px;
}

.teacher-cell label{
    width: 160px;
    font-weight: 500;
    margin-bottom: 1px;
}

/* Contact Form */
.home-contact-form{
    padding: 50px 25px;
    background-color: #f0f0f0;
}

.home-contact-form h2{
    margin-top:30px !important;
    margin-bottom: 0 !important;
}

.home-contact-form input, .home-contact-form textarea{
    background-color: #f0f0f0;
    border-radius: 4px;
    margin-bottom: 20px;
}

.home-contact-form ::placeholder{
    color:#777777;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 100;
    font-size:0.9em;
}
