body {
    font-family: 'Noto Sans SC', sans-serif;
    line-height: 1.6 !important;
    font-weight: 100;
    width: 100vw;
    overflow-x: hidden;
}

h1 {
    font-weight: 400 !important;
}

h2 {
    font-weight: 400 !important;
    color: #2F4858;
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 1em;
}

p {
    font-size: 1em;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em !important;
    }
    h2 {
        font-size: 1.5em !important;
    }
    p {
        font-size: 0.9em;
    }
}

form {
    margin: 0;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.bgYellow {
    background-color: #F19F4D !important;
    color: white;
}

.bgGrey {
    background-color: #f2f2f2 !important;
    color: #2f2f2f;
}

input:empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.lightShadow {
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.08);
}

.lighterShadow {
    -webkit-box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.05);
}

textarea:hover,
/* input[type=radio]:hover,  */

textarea:active,
/* input[type=radio]:active,  */

textarea:focus,
/* input[type=radio]:focus, */

button:focus, button:active, button:hover, label:focus, .btn:active, .btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.ghostBtn {
    margin: 0 auto;
    border: 1px solid white;
    color: white !important;
    padding: 16px 40px;
    transition: 0.3s;
}

.ghostBtn:hover {
    background-color: #F19F4D !important;
    color: white;
    transition: 0.3s;
    border: none;
}

.ghostSecBtn {
    margin: 0 auto;
    border: 1px solid #777777;
    color: #777777 !important;
    padding: 16px 40px;
    transition: 0.3s;
}

.ghostSecBtn:hover {
    background-color: #777777 !important;
    color: white !important;
    transition: 0.3s;
    border: none;
}

.primBtn {
    margin: 0 auto;
    color: white !important;
    padding: 16px 40px;
    background-color: #F19F4D !important;
    transition: 0.3s;
}

.primBtn:hover {
    background-color: #9E744E !important;
    color: white;
    transition: 0.3s;
}

.btn-active {
    background-color: #9E744E !important;
    color: white;
}

.primBtnSM {
    margin: 0 auto;
    color: white !important;
    background-color: #F19F4D !important;
    transition: 0.3s;
    font-weight: 100;
}

.primBtnSM:hover {
    background-color: #9E744E !important;
    color: white;
    transition: 0.3s;
}

.ghostSecBtnSM {
    margin: 0 auto;
    border: 1px solid #777777;
    color: #777777 !important;
    transition: 0.3s;
    font-weight: 100;
}

.ghostSecBtnSM:hover {
    background-color: #777777 !important;
    color: white !important;
    transition: 0.3s;
    border: none;
}

.secBtn {
    font-weight: 100;
    margin: 0 auto;
    padding: 16px 40px;
    background-color: rgb(248, 248, 248) !important;
    transition: 0.3s;
}

.secBtn:hover {
    transition: 0.3s;
    background-color: #F19F4D !important;
    color: white;
}

.login-badge {
    background-color: white;
    color: #2F4858;
}

/* arrow animation */

.the-arrow {
    width: 1px;
    transition: all 0.2s;
}

.the-arrow.-left {
    position: absolute;
    top: 60%;
    left: 0;
}

.the-arrow.-left>.shaft {
    width: 0;
    background-color: #F19F4D;
}

.the-arrow.-left>.shaft:before, .the-arrow.-left>.shaft:after {
    width: 0;
    background-color: #F19F4D;
}

.the-arrow.-left>.shaft:before {
    transform: rotate(0);
}

.the-arrow.-left>.shaft:after {
    transform: rotate(0);
}

.the-arrow.-right {
    top: 1px;
}

.the-arrow.-right>.shaft {
    width: 1px;
    transition-delay: 0.2s;
}

.the-arrow.-right>.shaft:before, .the-arrow.-right>.shaft:after {
    width: 8px;
    transition-delay: 0.3s;
    transition: all 0.5s;
}

.the-arrow.-right>.shaft:before {
    transform: rotate(40deg);
}

.the-arrow.-right>.shaft:after {
    transform: rotate(-40deg);
}

.the-arrow>.shaft {
    background-color: #333333;
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;
}

.the-arrow>.shaft:before, .the-arrow>.shaft:after {
    background-color: #333333;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0;
}

.the-arrow>.shaft:before {
    transform-origin: top right;
}

.the-arrow>.shaft:after {
    transform-origin: bottom right;
}

.animated-arrow {
    display: inline-block;
    color: #333333;
    font-size: 1em;
    font-style: italic;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
}

.animated-arrow:hover {
    color: #F19F4D;
}

.animated-arrow:hover>.the-arrow.-left>.shaft {
    width: 30px;
    transition-delay: 0.1s;
    background-color: #F19F4D;
}

.animated-arrow:hover>.the-arrow.-left>.shaft:before, .animated-arrow:hover>.the-arrow.-left>.shaft:after {
    width: 8px;
    transition-delay: 0.1s;
    background-color: #F19F4D;
}

.animated-arrow:hover>.the-arrow.-left>.shaft:before {
    transform: rotate(40deg);
}

.animated-arrow:hover>.the-arrow.-left>.shaft:after {
    transform: rotate(-40deg);
}

.animated-arrow:hover>.main {
    transform: translateX(17px);
    transform: translateX(40px);
}

.animated-arrow:hover>.main>.the-arrow.-right>.shaft {
    width: 0;
    transform: translateX(200%);
    transition-delay: 0;
}

.animated-arrow:hover>.main>.the-arrow.-right>.shaft:before, .animated-arrow:hover>.main>.the-arrow.-right>.shaft:after {
    width: 0;
    transition-delay: 0;
    transition: all 0.1s;
}

.animated-arrow:hover>.main>.the-arrow.-right>.shaft:before {
    transform: rotate(0);
}

.animated-arrow:hover>.main>.the-arrow.-right>.shaft:after {
    transform: rotate(0);
}

.animated-arrow>.main {
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

.animated-arrow>.main>.text {
    margin: 0 16px 0 0;
    line-height: 1;
}

.animated-arrow>.main>.the-arrow {
    position: relative;
}

/* arrow animation end */

.toTop {
    z-index: 99;
}

/* menu */

.user-menu:hover {
    text-decoration: none;
}

.stick-at-top {
    position: fixed;
    z-index: 50;
    background: rgb(245, 245, 245);
    padding: 25px;
    top: 0;
    left: 0;
    width: 100%;
}

.notification-dot {
    position: absolute;
    right: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: red;
    vertical-align: text-top;
}

.dot-small {
    width: 5px;
    height: 5px;
}

.dot-medium {
    width: 8px;
    height: 8px;
}

.notification-popup {
    position: absolute;
    top: 100px;
    right: 20px;
    z-index: 99;
}

.float-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
}

.float-message {
    position: fixed;
    background: #ffefdc;
    z-index: 60;
    top: 75px;
    width: 50%;
    left: 25%;
    opacity: 0.85;
    font-weight: 500;
    padding: 15px 5px;
    text-align: center;
}

.float-message label {
    margin: 0;
}

/* pagination */

.page-item.active .page-link {
    background-color: #F19F4D;
    border-color: #ee8c2a;
    color: #fff;
}

.page-link {
    color: #F19F4D;
}

.page-input{
    width: 70px;
    display: inline;
}

/* back to top button */
.bottom-right-corner-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 !important;
        padding: 15px !important;
    }
    .float-message{
        width: 80%;
        left: 10%;
    }
    .stick-at-top{
        padding: 10px;
    }
}

@media screen and (max-width: 550px) {
    .notification-popup {
        top: 0;
    }
}