/* Global */
body {
    font-family: 'Noto Sans SC', sans-serif;
    line-height: 1.6 !important;
    font-weight:100;
    width: 100vw;
    overflow-x: hidden;
}

h1{
    font-weight: 400 !important;
}

h2{
    font-weight: 400 !important;
    color:#2F4858;
    margin-bottom: 30px;
}

h3{
    margin-bottom: 1em;
}

p{
    font-size: 1em;
}

form{
    margin: 0;
}

input:empty{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.lightShadow{
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.08);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.08);
}

.lighterShadow{
    -webkit-box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.05);
}

.ghostBtn{
    margin:0 auto;
    border: 1px solid white;
    color:white !important;
    padding:16px 40px;
    transition: 0.3s;
  }

  .ghostBtn:hover{    
    background-color:  #F19F4D !important;
    color:white;
    transition: 0.3s;
    border:none;
}

.primBtn{
    margin:0 auto;
    color:white !important;
    padding:16px 40px;
    background-color: #F19F4D !important;
    transition: 0.3s;
}

  .primBtn:hover{    
    background-color: #9E744E !important;
    color:white;
    transition: 0.3s;
}

.secBtn{
    font-weight: 100;
    margin:0 auto;
    padding:16px 40px;
    background-color: rgb(248, 248, 248) !important;
    transition: 0.3s;
}

  .secBtn:hover{    
    transition: 0.3s;
    background-color: #F19F4D !important;
    color:white;
}

/* arrow animation */
.the-arrow {
    width: 1px;
    transition: all 0.2s;
}
.the-arrow.-left {
    position: absolute;
    top: 60%;
    left: 0;
}
.the-arrow.-left > .shaft {
    width: 0;
    background-color: #F19F4D;
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
    width: 0;
    background-color: #F19F4D;
}
.the-arrow.-left > .shaft:before {
    transform: rotate(0);
}
.the-arrow.-left > .shaft:after {
    transform: rotate(0);
}
.the-arrow.-right {
    top: 1px;
}
.the-arrow.-right > .shaft {
    width: 1px;
    transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
    width: 8px;
    transition-delay: 0.3s;
    transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
    transform: rotate(40deg);
}
.the-arrow.-right > .shaft:after {
    transform: rotate(-40deg);
}
.the-arrow > .shaft {
    background-color: #333333;
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;
}
.the-arrow > .shaft:before, .the-arrow > .shaft:after {
    background-color: #333333;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0;
}
.the-arrow > .shaft:before {
    transform-origin: top right;
}
.the-arrow > .shaft:after {
    transform-origin: bottom right;
}
.animated-arrow {
    display: inline-block;
    color: #333333;
    font-size: 1em;
    font-style: italic;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
}
.animated-arrow:hover {
    color: #F19F4D;
}
.animated-arrow:hover > .the-arrow.-left > .shaft {
    width: 30px;
    transition-delay: 0.1s;
    background-color: #F19F4D;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
    width: 8px;
    transition-delay: 0.1s;
    background-color: #F19F4D;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before {
    transform: rotate(40deg);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
    transform: rotate(-40deg);
}
.animated-arrow:hover > .main {
    transform: translateX(17px);
    transform: translateX(40px);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
    width: 0;
    transform: translateX(200%);
    transition-delay: 0;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
    width: 0;
    transition-delay: 0;
    transition: all 0.1s;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
    transform: rotate(0);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
    transform: rotate(0);
}
.animated-arrow > .main {
    display: flex;
    align-items: center;
    transition: all 0.2s;
}
.animated-arrow > .main > .text {
    margin: 0 16px 0 0;
    line-height: 1;
}
.animated-arrow > .main > .the-arrow {
    position: relative;
}
/* arrow animation end */

.toTop{
    z-index: 99;
}

/* menu */

.user-menu:hover{
    text-decoration: none;
}

.stick-at-top{
    position: fixed;
    z-index: 99;
    background: rgb(245, 245, 245);
    padding: 25px;
    top: 0;
    left: 0;
    width: 100%;
}

.notification-dot{
    position: absolute;
    right: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: red;
    vertical-align: text-top;
}

.dot-small{
    width: 5px;
    height: 5px;
}

.dot-medium{
    width: 8px;
    height: 8px;
}

.notification-popup{
    position: absolute;
    top: 100px;
    right: 20px;
    z-index: 99;
}

/* User Page */
#accountCenter button{
    position:relative;
}

.account-nav{
    background-color: #e9e9e9 !important;

}

.account-nav.active{
    background-color: white !important;
    color:#F19F4D;
    -webkit-box-shadow: -10px 0px 20px 8px rgba(0,0,0,0.08);
    -moz-box-shadow: -10px 0px 20px 8px rgba(0,0,0,0.08);
    box-shadow: -10px 0px 20px 8px rgba(0,0,0,0.08);
}

.account-center-section{
    padding:40px;
}

