/* Global */
body {
    font-family: 'Noto Sans SC', sans-serif;
    line-height: 1.6 !important;
    font-weight:100;
    width: 100vw;
    overflow: hidden;
}

h3{
    margin-bottom: 1em;
}

form{
    margin: 0;
}

input:empty{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.lightShadow{
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.08);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.08);
}

.lighterShadow{
    -webkit-box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.05);
}

.ghostBtn{
    margin:0 auto;
    border: 1px solid white;
    color:white !important;
    padding:16px 40px;
    transition: 0.3s;
  }

  .ghostBtn:hover{    
    background-color:  #F19F4D !important;
    color:white;
    transition: 0.3s;
    border:none;
}

.primBtn{
    margin:0 auto;
    color:white !important;
    padding:16px 40px;
    background-color: #F19F4D !important;
    transition: 0.3s;
}

  .primBtn:hover{    
    background-color: #9E744E !important;
    color:white;
    transition: 0.3s;
}

.secBtn{
    font-weight: 100;
    margin:0 auto;
    padding:16px 40px;
    background-color: rgb(248, 248, 248) !important;
    transition: 0.3s;
}

  .secBtn:hover{    
    transition: 0.3s;
    background-color: #F19F4D !important;
    color:white;
}


.toTop{
    z-index: 99;
}

/* menu */

.user-menu:hover{
    text-decoration: none;
}

.stick-at-top{
    position: fixed;
    z-index: 99;
    background: rgb(245, 245, 245);
    padding: 25px;
    top: 0;
    left: 0;
    width: 100%;
}

.notification-dot{
    position: absolute;
    right: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: red;
    vertical-align: text-top;
}

.dot-small{
    width: 5px;
    height: 5px;
}

.dot-medium{
    width: 8px;
    height: 8px;
}

.notification-popup{
    position: absolute;
    top: 100px;
    right: 20px;
    z-index: 99;
}

/* User Page */
#accountCenter button{
    position:relative;
}

.account-nav{
    background-color: #e9e9e9 !important;

}

.account-nav.active{
    background-color: white !important;
    color:#F19F4D;
    -webkit-box-shadow: -10px 0px 20px 8px rgba(0,0,0,0.08);
    -moz-box-shadow: -10px 0px 20px 8px rgba(0,0,0,0.08);
    box-shadow: -10px 0px 20px 8px rgba(0,0,0,0.08);
}

.account-center-section{
    padding:40px;
}