.one-on-one-top-banner{
    width: 100%;
    height: 300px;
    background-image: url(/suitntie/asset/image/pics/1-on-1/1on1-BG-Desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 100px;
}

.one-on-one-reason{
    padding: 0 10px;
}

/* FAQ section */
.one-on-one-section-2{
    background-color: #fdf7f2;
    padding: 80px 10px;
    border-radius: 10px;
}

.one-on-one-section-2 li{
    margin-bottom: 5px;
    margin-left: 1.5em; 
}

.one-on-one-section-2 ul{
    margin-bottom: 0 !important;
    list-style:none;
    padding-left: 0;
}

.one-on-one-section-2 ul li::before{
  content: "\2022"; 
  color: #F19F4D; 
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  width: 1.5em; 
  margin-left: -1.5em; 
}

/* Four steps */
.fourSteps .card{
    background-color: rgba(242,242,242,0.4);
    margin-bottom:30px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.fourSteps p{
    margin-bottom:0 !important;
    padding: 0 5px;
}

.fourSteps img{
    margin:0 auto 20px auto;
}

/* .numberCircle{
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    color: #F19F4D;
    background-color: white;
    display: inline-block;
    line-height:60px;
    text-align: center;
    width: 60px; 
    margin-bottom: 15px;
} */

/* Contact Form */
.home-contact-form{
    padding: 50px 25px;
    background-color: #f0f0f0;
}

.home-contact-form h2{
    margin-top:30px !important;
    margin-bottom: 0 !important;
}

.home-contact-form input, .home-contact-form textarea{
    background-color: #f0f0f0;
    border-radius: 4px;
    margin-bottom: 20px;
}

.home-contact-form ::placeholder{
    color:#777777;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 100;
    font-size:0.9em;
}

/* Instructor Slider */
.one-on-one-section-1{
    background-color: rgba(242,242,242,0.4);
    padding: 80px 10px;
    border-radius: 10px;
  }
  
  
  .hs h2{
    margin:30px auto;
  }
  
  .hs h5{
    font-size: 1.25em !important;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .hs label{
    font-weight: 500;
    margin: 1px auto;
  }
  
  ::-webkit-scrollbar {
      /* Webkit */
       width: 0;
       height: 0;
  }
  
  .hs {
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
    scrollbar-width: none;
   /* Firefox */
    -ms-overflow-style: none;
   /* IE 10+ */
    -webkit-overflow-scrolling: touch;
    margin: 0 -20px;
    padding: 30px 0;
  }
  .hs__indicator {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .sliderControl p{
    margin-left: 30px;
    display: inline-block;
    color: #a5a5a5;
    font-size:1em !important;
  }
  
.arrow{
  transform: rotate(-90deg);
  display: inline-block;
  margin-left: 30px;
  vertical-align: middle;
  margin-top: -13px;
}
  
.arrow span{
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #9e9e9e;
    border-right: 2px solid #9e9e9e;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
  
.hs__item {
    height:700px;
    width:350px;
    margin:0 20px;
    display: flex;
    position: relative;
    user-select: none;
    border-radius: 10px;
    padding:0 20px;
}
  
.hs__item img{
    width:150px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top:40px;
    left:0;
    right:0;
    margin: 0 auto;
}
  
.hs__item__description{
    width:350px;
    padding:20px;
    margin-top: 200px;
}
  
.reachoutBtn{
    position: absolute;
    bottom:50px;
    left:0;
    right:0;
}