.one-on-one-top-banner {
    width: 100%;
    height: 300px;
    background-image: url(/asset/image/pics/1-on-1/1on1-BG-Desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 100px;
}

.one-on-one-reason {
    padding: 0 10px;
}

/* FAQ section */
.one-on-one-section-2 {
    background-color: #fdf7f2;
    padding: 80px 10px;
    border-radius: 10px;
}

.one-on-one-section-2 li {
    margin-bottom: 5px;
    margin-left: 1.5em;
}

.one-on-one-section-2 ul {
    margin-bottom: 0 !important;
    list-style: none;
    padding-left: 0;
}

.one-on-one-section-2 ul li::before {
    content: "\2022";
    color: #F19F4D;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    width: 1.5em;
    margin-left: -1.5em;
}

/* Four steps */
.fourSteps .card {
    background-color: rgba(242, 242, 242, 0.4);
    margin-bottom: 30px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.fourSteps p {
    margin-bottom: 0 !important;
    padding: 0 5px;
}

/* .fourSteps img{
    margin:0 auto 20px auto;
} */

/* .numberCircle{
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    color: #F19F4D;
    background-color: white;
    display: inline-block;
    line-height:60px;
    text-align: center;
    width: 60px; 
    margin-bottom: 15px;
} */

/* Contact Form */
.home-contact-form {
    padding: 50px 25px;
    background-color: #f0f0f0;
}

.home-contact-form h2 {
    margin-top: 30px !important;
    margin-bottom: 0 !important;
}

.home-contact-form input,
.home-contact-form textarea {
    background-color: #f0f0f0;
    border-radius: 4px;
    margin-bottom: 20px;
}

.home-contact-form ::placeholder {
    color: #777777;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 100;
    font-size: 0.9em;
}

/* Instructor Slider */
.one-on-one-section-1 {
    background-color: rgba(242, 242, 242, 0.4);
    padding: 80px 10px 50px 10px;
    border-radius: 10px;
}

.mentorContainer p {
    font-size: 0.9em;
}

.hs h2 {
    margin: 30px auto;
}

.hs h5 {
    font-size: 1.25em !important;
    font-weight: 600;
    margin-bottom: 15px;
}

.hs label {
    font-weight: 500;
    margin: 1px auto;
}

::-webkit-scrollbar {
    /* Webkit */
    width: 0;
    height: 0;
}

.hs {
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    -webkit-overflow-scrolling: touch;
    margin: 0 -15px 30px 0;
    padding: 10px 0;
}

.hs__indicator {
    display: flex;
    align-items: center;
    width: 100%;
}

.sliderControl p {
    margin-left: 30px;
    display: inline-block;
    color: #a5a5a5;
    font-size: 1em !important;
}

.arrow {
    transform: rotate(-90deg);
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
    margin-top: -13px;
}

.arrow span {
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #F19F4D;
    border-right: 2px solid #F19F4D;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.hs__item {
    height: 600px;
    width: 350px;
    margin: 0 20px;
    display: flex;
    position: relative;
    user-select: none;
    border-radius: 10px;
    padding: 0 20px;
}

.hs__item img {
    width: 130px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.hs__item__description {
    width: 350px;
    padding: 20px;
    margin-top: 160px;
}

.reachoutBtn {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

/* service type table */
.service-type{
    margin-top: 70px;
}

.one-one-one-table{
    overflow: hidden;
    padding: 0 10px 50px 10px !important;
}

.table-wrapper {
    border-radius: 10px;
    overflow-x: auto;
    padding:0 !important;
}

.micro-text {
    font-size:12px;
    font-weight: 100 !important;
}

.white-text{
    color:white !important;
}

table {
    font-family: 'Noto Sans SC', sans-serif;
    border-collapse: collapse;
    width: 100%;
    scrollbar-base-color:#ffeaff;
    border-bottom: 1px solid white !important;
}

table::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
table::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

th,td {
    text-align: center;
    vertical-align:middle;
    border-collapse: collapse;
}

th {
    font-size: 14px !important;
    font-weight: 400;
}

th p {
    margin: 0 !important;
}

th h4 {
    margin: 0 auto 10px auto !important;
    font-size: 16px !important;
}

th:nth-child(1),td:nth-child(1){
    padding:10px 15px;
    width:50px !important;
    line-height: 20px;
}

th:nth-child(2),td:nth-child(2){
    min-width: 170px;
    padding:10px 10px;
}

th:nth-child(3),th:nth-child(4),th:nth-child(5){
    min-width: 200px;
    padding:40px 40px;
}

td:nth-child(3),td:nth-child(4),td:nth-child(5){
    min-width: 200px;
    padding:15px 40px;
}

.cell-orange{
    width: 100%;
    height:100%;
    background-color: #F19F4D;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    position:sticky;
    left:0;
    z-index: 50;
}

.cell-orange-light{
    width: 100%;
    height:100%;
    background-color:#FFDDBC;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    position:sticky;
    left:45px;
    z-index: 20;
}

td {
    border-top: solid 1px#E3E3E3;
    border-bottom: solid 1px #E3E3E3;
    z-index: 0;
}

.cell-orange-lighter{
    width: 100%;
    height:100%;
    background-color:#FEFAF6;
}
