.program-home-banner{
    width: 100%;
    height: auto;
    background: #ffab2e;
    color: #ffffff;
    text-align: center;
}

.program-home-banner h1{
    margin: 0;
    padding: 80px 0;
}

.one-on-one-promote img{
    position: absolute;
    right: 20px;
    top: -100px;
    width: 180px;
}

.one-on-one-promote p{
    margin-right: 200px;
}

.carousel-caption{
    top: 185px;
}

.carousel-inner, .carousel-item{
    max-height: 520px !important;
}

.home-contact-form{
    padding: 50px 25px;
    background-color: #f0f0f0;
}