.home-slider-testimonials h2{
    font-weight: 400 !important;
    background-color: #f9f9f9;
    padding-top:90px;
}

.testimonialSlider{
    position: relative;
}

.startTest{
    background-color: #f9f9f9;
    padding:30px 0 60px 0;
}

.home-slider-testimonials .carousel-control-prev-icon, .home-slider-testimonials .carousel-control-next-icon{
    filter: invert(75%);
}

.testimonials-indicator li{
    background-color: #d3d3d3 !important;
}

.home-slider-testimonials .carousel-inner .carousel-item{
    padding-top:30px;
    height: auto !important;
    background-color: #f9f9f9;
}

.home-slider-testimonials .carousel-caption{
    margin-top: -100px;
    height: auto !important;
}

.home-slider-testimonials .carousel-caption img{
    margin-bottom: 30px;
}

.home-slider-testimonials .carousel-caption a{
    margin-top: -90px;
}

.home-slider-testimonials .carousel-item p{
    width:70%;
    margin: 15px auto;
    height: auto !important;
}

.home-slider-testimonials .carousel-item img {
    max-height: 330px;
}