.home-slider-testimonials h2{
    font-weight: 400 !important;
    background-color: #f9f9f9;
    padding-top:90px;
}

.testimonialSlider{
    position: relative;
}

.startTest{
    position: absolute;
    bottom: 80px;
    left:50%;
    margin-left: -73px;
}

.home-slider-testimonials .carousel-control-prev-icon, .home-slider-testimonials .carousel-control-next-icon{
    filter: invert(75%);
}

.testimonials-indicator li{
    background-color: #d3d3d3 !important;
}

.home-slider-testimonials .carousel-inner{
    max-height: 700px !important;
}

.home-slider-testimonials .carousel-caption{
    margin-top: -100px;
}

.home-slider-testimonials .carousel-caption img{
    margin-bottom: 30px;
}

.home-slider-testimonials .carousel-caption a{
    margin-top: -90px;
}

.home-slider-testimonials .carousel-item p{
    width:80%;
    margin: 15px auto;
}

@media screen and (max-width: 770px) {
    .home-slider-testimonials h2{
        padding: 80px 30px 0 30px!important;
    }

    .home-slider-testimonials .carousel-caption{
        margin-top: -120px;
    }

    .home-slider-testimonials .carousel-inner{
        height: 650px !important;
        background-color: #f9f9f9 !important;
    }
}

@media screen and (max-width: 640px) {
    .home-slider-testimonials .carousel-inner{
        height: 860px !important;
        margin-top: -60px;
    }
}

@media screen and (max-width: 576px) {
    .startTest{
        bottom: 70px;
    }
    
}

@media screen and (max-width: 437px) {
    .home-slider-testimonials{
        height: 750px !important;
        margin-top: -60px;
        background-color: #f9f9f9;
    }

    .startTest{
        bottom: 50px;
    }  
}