<form id="consultantTutorForm" class="consultant-forms" action="" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-12">
            <h1>导师</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>全名</label>
            <input type="text" maxlength="128" class="form-control consultant-input" value="" name="tutor_name" id="tutorName" />
        </div>
        <div class="col-6">
            <label><span class="text-danger">*</span> 昵称</label>
            <input type="text" maxlength="128" class="form-control consultant-input" value="" name="tutor_nickname"
                id="tutorNickName" />
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-12">
            <label>照片</label>
            <div class="custom-file mb-3">
                <input type="file" class="form-control" name="tutor_img" id="tutorImage" />
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-6">
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="notChangeImage" name="not_change_image">
                <label class="form-check-label" for="notChangeImage">不换图</label>
              </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <label><span class="text-danger">*</span> 状态</label>
            <select name="tutor_status" class="form-control" id="tutorStatus" value="">
                <option value="open">可用</option>
                <option value="close">禁用</option>
            </select>
        </div>
        <div class="col-6">
            <label><span class="text-danger">*</span> 最高学历</label>
            <select name="tutor_education" class="form-control" id="tutorEducation" value="">
                <option value="本科">本科</option>
                <option value="研究生">研究生</option>
                <option value="博士">博士</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <label>简介</label>
            <textarea maxlength="1200" class="form-control consultant-input" value="" name="tutor_intro" id="tutorIntro" ></textarea>
        </div>
    </div>
    <input type="hidden" maxlength="256" class="form-control consultant-input" value="" name="current_tutor_img" id="currentTutorImg" />
    <div class="row mt-3">
        <div class="col-12 text-right">
            <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">关闭</button>
            <button class="btn btn-success btn-lg" type="submit">提交</button>
        </div>
    </div>
</form>

<form id="consultantSchoolForm" class="consultant-forms" action="" method="post">
    <div class="row">
        <div class="col-12">
            <h1>学校</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label><span class="text-danger">*</span> 名称</label>
            <input type="text" maxlength="128" class="form-control consultant-input" value="" name="school_name" id="schoolName" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <label><span class="text-danger">*</span> 地区</label>
            <select class="form-control consultant-input" id="schoolRegion" name="school_region">

            </select>
        </div>
        <div class="col-6">
            <label><span class="text-danger">*</span> 状态</label>
            <select name="school_status" class="form-control" id="schoolStatus" value="">
                <option value="open">可用</option>
                <option value="close">禁用</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-right">
            <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">关闭</button>
            <button class="btn btn-success btn-lg" type="submit">提交</button>
        </div>
    </div>
</form>

<form id="consultantRegionForm" class="consultant-forms" action="" method="post">
    <div class="row">
        <div class="col-12">
            <h1>地区</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label><span class="text-danger">*</span> 名称</label>
            <input type="text" maxlength="128" class="form-control consultant-input" value="" name="region_name" id="regionName" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <label><span class="text-danger">*</span> 排序</label>
            <input type="number" min="0" max="999" class="form-control consultant-input" value="" name="region_index" id="regionIndex" />
        </div>
        <div class="col-6">
            <label><span class="text-danger">*</span> 状态</label>
            <select name="region_status" class="form-control" id="regionStatus" value="">
                <option value="open">可用</option>
                <option value="close">禁用</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-right">
            <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">关闭</button>
            <button class="btn btn-success btn-lg" type="submit">提交</button>
        </div>
    </div>
</form>